* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Familjen Grotesk";
    font-style: normal;
    src: url(familjen-grotesk-v2-latin-regular.woff);
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto 250px;
    grid-template-areas: 
    "nav nav nav"
    "main main main"
    "article article article"
    "aside section figure"
    "footer footer footer";
    font-family: familjen grotesk;
    max-height: 100vh;
}

/* Ger nav platsen nav i griden och stylear den */
nav {
    grid-area: nav;
    margin-left: 0;
    margin-right: 0;
}

/* Ger main platsen main i griden */
main {
    grid-area: main;
}

/* Ger content platsen content i griden och stylear den */
article {
    grid-area: article;
    text-align: center;
    height: 150px;
    padding-top: 75px;
    padding-left: 250px;
    padding-right: 250px;
}

/* Ger aside platsen aside i griden och stylear den */
aside {
    grid-area: aside;
    margin-top: 100px;
    margin-bottom: auto;
    width: 33%;
}

/* Ger section platsen section i griden och stylear den */
section {
    grid-area: section;
    margin-top: 100px;
    margin-bottom: auto;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
}

/* Ger summary platsen summary i griden och stylear den */
figure {
    grid-area: figure;
    margin-top: 100px;
    margin-bottom: auto;
    width: 33%;
}

/* Ger footer platsen footer i griden och stylear den */
footer {
    grid-area: footer;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    background: orange;
}

/* Stylear nav */
.nav {
    background: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Stylear barnselektorn ul i nav-klassen */
.nav ul {
    display: inline-block;
}

/* Stylear barnselektorn li i nav-klassen */
.nav li {
    display: inline-block;
}

/* Stylear barnselektorn a i nav-klassen */
.nav a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 22px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
.nav a:link {
    color: black;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
.nav a:visited {
    color: black;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
.nav a:focus {
    color: black;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
.nav a:hover {
    background-color: orange;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
.nav a:active {
    color: black;
}

/* Stylear secondnav (lokal many) */
.secondnav {
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: -4px;
    width: 100%;
}

/* Stylear barnselektorn ul i secondnav-klassen */
.secondnav ul {
    display: inline-block;
}

/* Stylear barnselektorn li i secondnav-klassen */
.secondnav li {
    display: inline-block;
}

/* Stylear barnselektorn a i secondnav-klassen */
.secondnav a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 22px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Stylear barnselektorn a i secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:link {
    color: white;
}

/* Stylear barnselektorn a i secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:visited {
    color: white;
}

/* Stylear barnselektorn a i secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:focus {
    color: white;
}

/* Stylear barnselektorn a i secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:hover {
    background-color: orange;
}

/* Stylear barnselektorn a i secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:active {
    color: white;
}

/* Stylear klassen cover, används för omslagsbilden på många sidor */
.cover {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

/* a */
.bild {
    object-fit: cover;
    width: 300%;
    height: 400px;
}

.bakgrundbild {
    object-fit: cover;
    width: 300%;
    height: 400px;
}

.förstasidabild {
    object-fit: cover;
    width: 300%;
    height: 400px;
}

.förstasidabildomvänd {
    transform: scaleX(-1);
    object-fit: cover;
    width: 300%;
    height: 400px;
}

#karriärbild {
    object-fit: cover;
    width: 300%;
    height: 400px;
}

.klubbtext {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 120px;
}

.företagstext {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 120px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.företaglogo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.centerstatistik {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: -25%;
}

.centerindex {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.infobox {
    background-color: orange;
    color: black;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 4%;
    display: block;
}

#infoboxlist {
    list-style-type: none;
    line-height: 25px;
}

.karriär {
    width: 80%;
}

.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.bakgroundtext {
    margin-top: 23.5%;
    width: 90%;
}

.width50 {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.width90 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#indextext {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Style för youtubevideon */
#youtube { 
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}

/* Style textområden i formuläret */
form {
    width: 30%;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 14px;
    margin-top: 8px;
}

/* Style submitknappen */
button[type=submit] {
    background-color: black;
    color: white;
    padding: 14px 24px;
    border-radius: 4px;
    border: none;
    margin-top: 8px;
    float: right;
}

/* Style submitknappen vid hover */
input[type=submit]:hover {
    background-color: orange;
}

.kontakt {
    margin-top: 100px;
    margin-bottom: 20px;
}

.kontaktcenter {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style för sidan om max-width:780px */
@media screen and (max-width:780px){
    body {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto auto auto auto auto 250px;
        grid-template-areas: 
        "nav"
        "main"
        "article"
        "aside"
        "section" 
        "figure"
        "footer";
    }
    
    #indextext {
        margin-bottom: auto;
        margin-top: auto;
        padding-left: 3em;
        padding-right: 3em;
    }

    #projekttitel {
        margin-bottom: 20%;
        padding-left: 3em;
        padding-right: 3em;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    } 

    #projekttext {
        padding-left: 3em;
        padding-right: 3em;
        width: 100%;
    } 

    #projektwidth90 {
        width: 90%;
        margin-bottom: 100px;
    }

    .centerindex {
        margin-top: 15%;
        padding-left: 5em;
        padding-right: 5em;
        margin-right: auto;
        margin-left: auto;
    }

    .footer {
        margin-top: -1%;
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 3.5em;
        margin-right: auto;
        margin-left: auto;
        width: 103%;
    }

    .förstasidabild {
        object-fit: cover;
        width: 310%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .förstasidabildomvänd {
        transform: scaleX(-1);
        object-fit: cover;
        width: 310%;
        height: 400px;
    }

    .infobox {
        background-color: orange;
        color: black;
        width: 80%;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        display: block;
    }

    #karriärbild {
        object-fit: cover;
        width: 312%;
        height: 400px;
        margin-top: -101px;
    }

    .cover {
        object-fit: cover;
        width: 103%;
        height: 400px;
    }

    #youtube { 
        width: 103%;
        height: 100%;
        display: block;
        margin: auto;
    }

    .secondnav {
        background: black;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: -4px;
        width: 103%;
    }

    .bakgroundtext {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 25%;
        margin-left: auto;
        margin-right: auto;
    }

    .bakgrundbild {
        object-fit: cover;
        width: 310%;
        height: 400px;
        margin-top: -77%;
    }

    .footer {
        padding-bottom: 60px;
    }

    .kontaktcenter {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .kontakt {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 425px;
    }

    form {
        width: 90%;
    }
}