body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px auto auto auto 250px;
    grid-template-areas: 
    "nav nav"
    "main main"
    "content content"
    "aside section"
    "footer footer";
}

nav {
    grid-area: nav;
    padding-left: 0;
    padding-right: 0;
}

main {
    grid-area: main;
}

content {
    grid-area: content;
    text-align: center;
    height: 150px;
    padding-top: 75px;
    padding-left: 250px;
    padding-right: 250px;
}

aside {
    grid-area: aside;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 570px;
    padding-left: 50px;
}

section {
    grid-area: section;
    margin-right: 20px;
    margin-top: 100px;
    margin-bottom: auto;
    width: 570px;
    padding-left: 50px;
}

footer {
    grid-area: footer;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    background: yellow;
}

.nav {
    background: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 22px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.nav a:link {
    color: black;
}

.nav a:visited {
    color: black;
}

.nav a:focus {
    color: black;
}

.nav a:hover {
    background-color: orange;
}

.nav a:active {
    color: black;
}

.secondnav {
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: -4px;
}

.secondnav ul {
    display: inline-block;
    list-style-type: none;
}

.secondnav li {
    display: inline-block;
}

.secondnav a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 22px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.secondnav a:link {
    color: white;
}

.secondnav a:visited {
    color: white;
}

.secondnav a:focus {
    color: white;
}

.secondnav a:hover {
    background-color: orange;
}

.secondnav a:active {
    color: white;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.bild {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.klubbtext {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    margin-bottom: 100px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.titlarh2 {
    margin-bottom: 200px;
}