@font-face {
    font-family: "Familjen Grotesk";
    font-style: normal;
    src: url(familjen-grotesk-v2-latin-regular.woff);
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto 250px;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "article article article"
    "section main details"
    "footer footer footer";
    font-family: familjen grotesk;
    max-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Ger nav platsen nav i griden och stylear den */
nav {
    grid-area: nav;
    margin-left: 0;
    margin-right: 0;
}

/* Ger main platsen main i griden */
header {
    grid-area: header;
}

/* Ger content platsen content i griden och stylear den */
article {
    grid-area: article;
    text-align: center;
    height: 150px;
    padding-top: 75px;
    padding-left: 250px;
    padding-right: 250px;
}

/* Ger aside platsen aside i griden och stylear den */
section {
    grid-area: section;
    margin-top: 100px;
    margin-bottom: auto;
    width: 33.33%;
}

/* Ger section platsen section i griden och stylear den */
main {
    grid-area: main;
    margin-top: 100px;
    margin-bottom: auto;
    width: 33.33%;
    margin-left: auto;
    margin-right: auto;
}

/* Ger summary platsen summary i griden och stylear den */
details {
    grid-area: details;
    margin-top: 100px;
    margin-bottom: auto;
    width: 33.33%;
}

/* Ger footer platsen footer i griden och stylear den */
footer {
    grid-area: footer;
    margin-top: 100px;
    padding-top: 40px;
    padding-left: 250px;
    padding-right: 250px;
    background: orange;
}






/* Stylear nav */
#nav {
    background: white;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Stylear barnselektorn ul i nav-klassen */
#nav ul {
    display: inline-block;
}

/* Stylear barnselektorn li i nav-klassen */
#nav li {
    display: inline-block;
}

/* Stylear barnselektorn a i nav-klassen */
#nav a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 22px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
#nav a:link {
    color: black;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
#nav a:visited {
    color: black;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
#nav a:focus {
    color: black;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
#nav a:hover {
    background-color: orange;
}

/* Stylear barnselektorn a i nav-klassen enligt LoVe Focus HAte */
#nav a:active {
    color: black;
}





/* Stylear secondnav (lokal many) */
.secondnav {
    background: black;
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    top: -4px;
    width: 100%;
}

/* Stylear barnselektorn ul i secondnav-klassen */
.secondnav ul {
    display: inline-block;
}

/* Stylear barnselektorn li i secondnav-klassen */
.secondnav li {
    display: inline-block;
}

/* Stylear barnselektorn a i secondnav-klassen */
.secondnav a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    padding: 22px 16px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Stylear selektorer för länkar med secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:link {
    color: white;
}

/* Stylear selektorer för länkar med secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:visited {
    color: white;
}

/* Stylear selektorer för länkar med secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:focus {
    color: white;
}

/* Stylear selektorer för länkar med secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:hover {
    background-color: orange;
}

/* Stylear selektorer för länkar med secondnav-klassen enligt LoVe Focus HAte */
.secondnav a:active {
    color: white;
}







/* Stylear klassen cover, används för omslagsbilden på olika sidor */
.cover {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

/* Stylear bilder som förekommer i section i gridden */
.sectionbild {
    object-fit: cover;
    width: 300%;
    height: 400px;
}

/* Stylear text om Zlatan. Förekommer på indexsidan */
.omtext {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 80%;
}

/* Stylear text som förekommer i main i gridden */
.maintext {
    width: 80%;
}

/* Stylear text som förekommer i article i gridden */
.articletext {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Stylear text om klubbar. Förekommer på statistikssidan */
.klubbtext {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 120px;
}

/* Stylear text om företag. Förekommer på projektsida */
.företagstext {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 120px;
}

/* Centrerar loggor som förekommer på både projektsidan och statistiksidan */
.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* Centrerar företagsloggor som förekommer på projektsidan */
.företaglogo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

/* Centrerar alla element i sektionen. Används på projekt- och statistiksidan */
.sectioncenter {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}




/* Stylear tabellen */
/* Typselektor som stylear table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 50px;
}

/* Typselektorer som stylear td (table data) och th (table header) */
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
}

/* Skapar zebra striping på tabellen med hjälp av denna psuedoklass */
tr:nth-child(even) {
    background-color: #dddddd;
}




/* Stylear infoboxen som förekommer i details i gridden */
.infobox {
    background-color: hsl(39, 100%, 50%);
    color: black;
    width: 80%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    display: block;
}

/* Klass som stylear listan i infoboxen */
#infoboxlist {
    list-style-type: none;
    line-height: 25px;
    padding-left: 0%;
}




/* Stylear knappen som förekommer på indexsidan */
#button {
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

/* Stylear youtubevideon */
#youtube { 
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
}



form {
    margin: 50px auto;
    padding: 16px;
    max-width: 700px;
    border: 1px solid rgb(200, 200, 200);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea,
select {
    background-color: rgb(255, 255, 255, 1);
    color: #abafb3;
    border: 1px solid rgb(200, 200, 200);
    outline: 0;
    margin: 0;
    margin-bottom: 16px;
    padding: 8px 18px;
    height: 30px;
    width: 360px;
    font-size: 14px;
}

input::placeholder {
    color: rgba(151, 151, 156, 0.5);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0 4px 16px 10px;
}

select {
    padding: 6px;
    height: 32px;
    border-radius: 3px;
    width: 100%;
}

button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 26px;
    color: #FFF;
    background-color: orange;
    border-radius: 4px;
    border: none;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

fieldset {
    margin-bottom: 28px;
    border: none;
    width: 400px;
}

legend {
    font-size: 24px;
    margin-bottom: 16px;
}

label {
    display: block;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

label.light {
    display: inline;
}



.kontakt {
    width: 100%;
}

.kontaktcenter {
    text-align: center;
}


/* Style för sidan om max-width:780px */
@media screen and (max-width:780px){
    body {
        display: block;
        grid-template-columns: 1fr;
        grid-template-rows: 60px auto auto auto auto auto 250px;
        grid-template-areas: 
        "nav"
        "section"
        "article"
        "aside"
        "main" 
        "figure"
        "footer";
    }
    
    footer {
        grid-area: footer;
        margin-top: 100px;
        padding-top: 40px;
        padding-left: 250px;
        padding-right: 250px;
        background: orange;
    }

    #indextext {
        padding-left: 2em;
        padding-right: 2em;
    }

    #indextext > p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #articletext {
        padding-left: 2em;
        padding-right: 2em;
    }

    #articletext > p {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    #projekttitel {
        margin-bottom: 20%;
        padding-left: 3em;
        padding-right: 3em;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    } 

    #projekttext {
        margin-bottom: auto;
        margin-top: auto;
        padding-left: 3em;
        padding-right: 3em;
        width: 90%;
        
    } 

    .centerindex {
        margin-top: 15%;
        padding-left: 5em;
        padding-right: 5em;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }

    #footer {
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 3.5em;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 60px;
    }

    .sectionbild {
        object-fit: cover;
        width: 300%;
        height: 400px;
    }

    .infobox {
        background-color: orange;
        color: black;
        width: 80%;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 4%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
        display: block;
    }

    .cover {
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

    #youtube { 
        width: 103%;
        height: 100%;
        display: block;
        margin: auto;
    }

    .secondnav {
        background: black;
        padding: 0;
        margin: 0;
        text-align: center;
        margin-top: -4px;
        width: 103%;
    }

    .bakgroundtext {
        width: 90%;
        margin-top: 5%;
        margin-bottom: 25%;
        margin-left: auto;
        margin-right: auto;
    }

    .kontaktcenter {
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .kontakt {
        width: 100%;
        margin-top: 110px;
        margin-bottom: 175px;
    }

    form {
        width: 70%;
    }
}